body {
  margin: 0;
  color: rgb(45, 49, 52);
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(199, 203, 220);
  text-align: center;
}

.header {
  text-align: center;
}

h1 {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  width: 7em;
  text-align: center;
  font-size: 3em;
  border: 4px solid rgb(173,158,83);
  background-color: rgb(239,244,253);
  border-radius: 30px;
}

.card {
  width: 50vw;
  margin: 2% auto;
  border: 4px solid rgb(173, 158, 83);
  background-color: rgb(239, 244, 253);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width: 60%;
  margin: 0 auto;
  display: block;
  height: auto;
}

h2 {
  margin-top: 0;
  margin-bottom: auto;
  font-style: italic;
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: auto;
  font-style: italic;
  text-align: center;
}

.Raymond {
  font-size: 3em;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.school {
  margin-left: 13%;
  width: 75%;
}

.hobby {
  padding: 10px;
}

/* iframe{
  margin-left: 10.5%;
  width: 80%;
  height: 30em;
  margin-top: 20px;
} */

.project1 {
  display: flex;
  justify-content: center;
}

.project2 {
  display: flex;
  justify-content: center;
}

.project3 {
  display: flex;
  justify-content: center;
}

.project4 {
  display: flex;
  justify-content: center;
}

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-wrapper {
  width: 70%;
  overflow: hidden;
  text-align: center;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  pointer-events: auto;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 50%;
  margin: 0 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.contact {
  text-align: center;
  padding: 10px;
  background-color: rgb(239,244,253);
}

.contact a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: none;
  color: blue;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
}

nav a {
  font-size: 1.5em;
  text-align: center;
  border: 3px solid rgb(173,158,83);
  color: rgb(52, 117, 117);
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(239,244,253);
  border-radius: 30px;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: none;
  color: blue;
}

li {
  font-size: 1em;
  color: black;
  margin-top: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#information p {
  margin: 0;
}

footer {
  text-align: center;
  background-color: rgb(239,244,253);
}

label {
  flex: 1;
  color: black;
  display: flex;
  width: 20vw;
}

input, select {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
}

#question {
  height: 100px;
}

#option {
  flex: 0;
  margin-inline: 0;
}

.formfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  margin-inline: 30px;
}

.formclick {
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 30%;
  border: 0;
  background-color: cornflowerblue;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

#modal-img {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #aaa;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width:768px) {  
  body {
      height: auto;
  }
    
  .card {
      width: 80%;
      margin: auto;
  }

  .profile-picture {
      width: 100%;
      margin: 0;
  }  

  .school {
    margin-top: 2%;
    margin-left: 10.5%;
    width: 80%;
    height: 30em;
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 2% auto;
  }

  nav a {
      display: inline-block;
      padding: 10px 0;
      font-size: 1rem;
      text-align: center;
      margin: 0 5px;
  }

  button {
    width: 40%;
  }

  .carousel-image {
    width: 100%;
    height: auto;
  }


  body, p, h2 {
      font-size: 0.9rem;
  }

  #modal-img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }
}